<!DOCTYPE html>
<html>
  <head>
    <title>DevProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <%= render 'layouts/navigation' %>
  </nav>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
</html>
